* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;  
    body::-webkit-scrollbar{
        width: 10px;
    }
    body::-webkit-scrollbar-thumb{
        background-color: rgba(0, 0, 0, 0.507);
        border-radius: 10px;
        border: 4px solid white;
    }
}
@import 'login';
@import 'topBar';
@import 'sidebar';
@import 'products';
@import 'users'; 
@import 'userId'
  